<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=l.0">
    <title>Animated Website Design- Easy Tutorials</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    
<body>
    <header>Namami Gange</header>
    <div class="hero">
        <nav>
           <A href="https://nmcg.nic.in/NamamiGanga.aspx" target="_blank"> <img src="../static/images/logo.jpg" class="logo"></A>
        </nav>
                    <div class="chat">
            <div class="chat-title">
                <h1>Chachaji</h1>
                <h2>Ahoy! Chacha is here to assist you.</h2>
            </div>
            <div class="messages">
                <div class="messages-content">
                    <div class="container">

                    </div>
                </div>
            </div>
            <div class="message-box">
                <div class="row">
                    <span class="message-speech"><i class="fa fa-microphone" style="font-size:20px;color:white"></i></span>
                    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
                    <button type="submit" class="message-submit">Send</button>
                </div>
            </div>

        </div>
        <div class="bg"></div>
    </div>
    <script src="../static/js/main.js" defer></script>
</body>

</html>